<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START:i18n -->
  <div id="banner">
<!-- START_HIGHLIGHT -->
    <%= form_tag store_path, :class => 'locale' do %>
      <%= select_tag 'set_locale', 
        options_for_select(LANGUAGES, I18n.locale.to_s),
        :onchange => 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$$('.locale input').each(Element.hide()" %>
    <% end %>
<!-- END_HIGHLIGHT -->
  <title>Nic & Carole's CD & Vinyl Store</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
	<% for page in Page.roots %>
  <li><%= link_to h(page.name), page %></li>
	<% end %>

<%- flash.each do |name, msg| -%> <%= content_tag :div, msg, :id => "flash_#{name}" %> <%- end -%> <%- if show_title? -%>
<%=h yield(:title) %>
<%- end -%>
<%= yield %>
  <%= csrf_meta_tag %>
    <p>
  <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
</p>
  <ul>
        <li id="Vinyl" class="selected"><a href="/Vinyl" class="selected">Vinyl</a></li>
        <li id="CDs"><a href="/CDs">CDs</a></li>
        <li id="Products"><a href="/products">products</a></li>
        <li id="Admin"><a href="/admin">admin</a></li>
        <li id="Carts"><a href="/carts">carts</a></li>
        <li id="Orders"><a href="/orders">orders</a></li>
      </ul>
      <% if session[:user_id] %>
        <%= button_to 'Logout', logout_path, :method => :delete   %>
      <% end %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">  
<!--   %= image_tag("Hattie.Snaggletooth.gif") %   -->
    <%= @page_title || t('.title') %>
  </div>
<!-- END:i18n -->
  <div id="columns">
    <div id="side">
        <!-- START:hidden_div -->
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, :id => 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
    <!-- END:hidden_div -->
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
